<!-- <mat-accordion>
<mat-expansion-panel>
<mat-expansion-panel-header>
  <mat-panel-title>
    Self aware panel
  </mat-panel-title>
  <mat-panel-description>
    Currently I am
  </mat-panel-description>
</mat-expansion-panel-header>
<p>I'm visible because I am open</p>
</mat-expansion-panel>
</mat-accordion> -->
<mat-accordion multi='true' *ngIf='posts.length > 0'>
  <mat-expansion-panel *ngFor='let tej of posts'>
    <mat-expansion-panel-header>{{tej.title}}</mat-expansion-panel-header>
    <mat-panel-description>
      {{tej.content}}
    </mat-panel-description>
    <mat-action-row>
      <a mat-button color='primary' [routerLink]="['/edit', tej.id]" mat-button>Edit</a>
      <button mat-button color='warn' (click)="onDelete(tej.id)" mat-button>Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf='posts.length <= 0 '>no post is yet</p>
