<!-- this is a property binding -->
<!-- <textarea rows="6" [value]="newPost"></textarea> -->
<!-- two way data binding -->
<mat-card>
  <form (submit)='onAddPost(postForm)' #postForm='ngForm'>
      <mat-form-field>
        <input matInput type="text" name="title" ngModel required #title='ngModel'>
        <mat-error *ngIf="title.invalid">please enter a post title</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput rows="4" name="content" ngModel required #content='ngModel'></textarea>
        <mat-error *ngIf="content.invalid">please enter a post content</mat-error>
      </mat-form-field>

      <!-- this is a listening to the event -->
      <button mat-raised-button color='warn' type="submit">post save</button>
  </form>
</mat-card>

<!--  this is a string interpullation -->
<!-- <p>{{newPost}}</p> -->
